{% extends 'base.html' %}
{% load static %}
{% block body %}






    <div class=" row container-fluid ">
      <div class="col-md-12">
        <div class="row mb-5">
          <div class="col-md-7 section-heading ">
            <span class="subheading-sm">Services</span>
            <h2 class="heading">Facilities &amp; Services</h2>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="media block-6">
          <div class="icon"><span class="flaticon-double-bed"></span></div>
          <div class="media-body">
            <h3 class="heading">Luxury Rooms</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="media block-6">
          <div class="icon"><span class="flaticon-wifi"></span></div>
          <div class="media-body">
            <h3 class="heading">Fast &amp; Free Wifi</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="media block-6">
          <div class="icon"><span class="flaticon-customer-service"></span></div>
          <div class="media-body">
            <h3 class="heading">Call Us 24/7</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="media block-6">
          <div class="icon"><span class="flaticon-taxi"></span></div>
          <div class="media-body">
            <h3 class="heading">Travel Accomodation</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="media block-6">
          <div class="icon"><span class="flaticon-credit-card"></span></div>
          <div class="media-body">
            <h3 class="heading">Accepts Credit Card</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="media block-6">
          <div class="icon"><span class="flaticon-dinner"></span></div>
          <div class="media-body">
            <h3 class="heading">Restaurant</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
    </div>
  <div class="site-section block-13 bg-light">
    <div class="container">
       <div class="row mb-5">
          <div class="col-md-7 section-heading">
            <span class="subheading-sm">Featured Rooms</span>
            <h2 class="heading">Rooms &amp; Suites</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, iusto, omnis! Quidem, sint, impedit? Dicta eaque delectus tempora hic, corporis velit doloremque quod quam laborum, nobis iusto autem culpa quaerat!</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="nonloop-block-13 owl-carousel">
                <div class="item">
                  <div class="block-34">
                    <div class="image">
                    <img src="{% static 'mehmonxona/IMG_5864.JPG' %}" alt="Image placeholder" class="img-fluid img-shadow">
                    </div>
                    <div class="text">
                      <h2 class="heading">	Супер люкс Triple размещение </h2>
                      <div class="price"><sup>$</sup><span class="number">156</span><sub>/per night</sub></div>
                      <ul class="specs">
                        <li><strong>Adults:</strong> 1</li>
                        <li><strong>Categories:</strong> Single</li>
                        <li><strong>Facilities:</strong> Closet with hangers, HD flat-screen TV, Telephone</li>
                        <li><strong>Size:</strong> 20m<sup>2</sup></li>
                        <li><strong>Bed Type:</strong> One bed</li>
                      </ul>
                      <button type="button" class="btn btn-primary py-3 px-5" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">ЗАБРОНИРОВАТЬ</button>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="block-34">
                    <div class="image">
                    <img src="{% static 'mehmonxona/IMG_5867.JPG' %}" alt="Image placeholder" class="img-fluid img-shadow">
                    </div>
                    <div class="text">
                      <h2 class="heading">Супер люкс Double размещение</h2>
                      <div class="price"><sup>$</sup><span class="number">320</span><sub>/per night</sub></div>
                      <ul class="specs">
                        <li><strong>Adults:</strong> 1</li>
                        <li><strong>Categories:</strong> Single</li>
                        <li><strong>Facilities:</strong> Closet with hangers, HD flat-screen TV, Telephone</li>
                        <li><strong>Size:</strong> 20m<sup>2</sup></li>
                        <li><strong>Bed Type:</strong> One bed</li>
                      </ul>
                      <button type="button" class="btn btn-primary py-3 px-5" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">ЗАБРОНИРОВАТЬ</button>
                    </div>
                  </div>
                </div>



                <div class="item">
                  <div class="block-34">
                    <div class="image">
                  <img src="{% static 'mehmonxona/IMG_6019.JPG' %}" alt="Image placeholder" class="img-fluid img-shadow">
                    </div>
                    <div class="text">
                      <h2 class="heading">Twin Люкс двухместный размещение</h2>
                      <div class="price"><sup>$</sup><span class="number">600</span><sub>/per night</sub></div>
                      <ul class="specs">
                        <li><strong>Adults:</strong> 1</li>
                        <li><strong>Categories:</strong> Single</li>
                        <li><strong>Facilities:</strong> Closet with hangers, HD flat-screen TV, Telephone</li>
                        <li><strong>Size:</strong> 20m<sup>2</sup></li>
                        <li><strong>Bed Type:</strong> One bed</li>
                      </ul>
                      <button type="button" class="btn btn-primary py-3 px-5" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">ЗАБРОНИРОВАТЬ</button>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="block-34">
                    <div class="image">
                    <img src="{% static 'mehmonxona/IMG_6051.JPG' %}" alt="Image placeholder" class="img-fluid img-shadow">
                    </div>
                    <div class="text">
                      <h2 class="heading">Четырехместное Стандарт размещение</h2>
                      <div class="price"><sup>$</sup><span class="number">760</span><sub>/per night</sub></div>
                      <ul class="specs">
                        <li><strong>Adults:</strong> 1</li>
                        <li><strong>Categories:</strong> Single</li>
                        <li><strong>Facilities:</strong> Closet with hangers, HD flat-screen TV, Telephone</li>
                        <li><strong>Size:</strong> 20m<sup>2</sup></li>
                        <li><strong>Bed Type:</strong> One bed</li>
                      </ul>
                      <button type="button" class="btn btn-primary py-3 px-5" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">ЗАБРОНИРОВАТЬ</button>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="block-34">
                    <div class="image">
                  <img src="{% static 'mehmonxona/IMG_6064.JPG' %}" alt="Image placeholder" class="img-fluid img-shadow">
                    </div>
                    <div class="text">
                      <h2 class="heading">	Одно местное стандарт размещение</h2>
                      <div class="price"><sup>$</sup><span class="number">760</span><sub>/per night</sub></div>
                      <ul class="specs">
                        <li><strong>Adults:</strong> 1</li>
                        <li><strong>Categories:</strong> Single</li>
                        <li><strong>Facilities:</strong> Closet with hangers, HD flat-screen TV, Telephone</li>
                        <li><strong>Size:</strong> 20m<sup>2</sup></li>
                        <li><strong>Bed Type:</strong> One bed</li>
                      </ul>
                      <button type="button" class="btn btn-primary py-3 px-5" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">ЗАБРОНИРОВАТЬ</button>
                    </div>
                  </div>
                </div>

            </div>

          </div> <!-- .col-md-12 -->
        </div>
    </div>
  </div>




 {% endblock body %}
