{% extends 'base.html' %}
{% load static %}
{% block body %}


<div class="block-30 block-30-sm item" style="background-image: url('{% static "mehmonxona/IMG_4979.JPG"%}');" data-stellar-background-ratio="1">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-10">

        <h2 class="heading">Связаться с нами</h2>
      </div>
    </div>
  </div>
</div>




<div class="site-section">
  <div class="container">
    <div class="row block-9">
      <div class="col-md-6 pr-md-5">
        <form action="#">
          <div class="form-group">
            <input type="text" class="form-control px-3 py-3" placeholder="Ваше имя">
          </div>
          <div class="form-group">
            <input type="text" class="form-control px-3 py-3" placeholder="E-mail">
          </div>
          <div class="form-group">
            <input type="text" class="form-control px-3 py-3" placeholder="Тема">
          </div>
          <div class="form-group">
            <textarea name="" id="" cols="30" rows="7" class="form-control px-3 py-3" placeholder="Сообщения"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" value="Отправить" class="btn btn-primary py-3 px-5">
          </div>
        </form>

      </div>

      <div class="col-md-6" ><iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1382.1964705038954!2d70.94649898273858!3d40.539444864172445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z0JPQvtGB0YLQuNC90LjRhtGL!5e0!3m2!1sru!2sru!4v1573588437206!5m2!1sru!2sru" width="600" height="420" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>
    </div>
  </div>
</div>










  {% endblock body %}
