{% extends 'base.html' %}
{% load static %}
{% block body %}



  <div class="block-30 block-30-sm item" style="background-image: url('{% static "mehmonxona/IMG_4991.JPG"%}');" data-stellar-background-ratio="1">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-10">
          <span class="subheading-sm">Services</span>
              <h2 class="heading">Facilities &amp; Services</h2>
        </div>
      </div>
    </div>
  </div>


  <div class="container">

  	<div class="row site-section">
  		<div class="col-lg-7 mb-5">
  			<img src="{% static 'mehmonxona/IMG_0585.JPG' %}" alt="Image placeholder" class="img-fluid img-shadow">
  		</div>
  		<div class="col-lg-5 pl-md-5">

  			<div class="media block-6">
          <div class="icon"><span class="ion-ios-checkmark"></span></div>
          <div class="media-body">
            <h3 class="heading">Luxury Rooms</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts.</p>
          </div>
	      </div>

	      <div class="media block-6">
          <div class="icon"><span class="ion-ios-checkmark"></span></div>
          <div class="media-body">
            <h3 class="heading">Fast &amp; Free Wifi</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts.</p>
          </div>
	      </div>

	      <div class="media block-6">
          <div class="icon"><span class="ion-ios-checkmark"></span></div>
          <div class="media-body">
            <h3 class="heading">Travel Accomodation</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts.</p>
          </div>
	      </div>


  		</div>
  	</div>


  	<div class="row site-section pt-0">
  		<div class="col-lg-7 mb-5 order-lg-2">
  			<img src="{% static 'mehmonxona/IMG_5774.JPG' %}" alt="Image placeholder" class="img-fluid img-shadow">
  		</div>
  		<div class="col-lg-5 pr-md-5 order-lg-1">

  			<div class="media block-6">
          <div class="icon"><span class="ion-ios-checkmark"></span></div>
          <div class="media-body">
            <h3 class="heading">Luxury Rooms</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts.</p>
          </div>
	      </div>

	      <div class="media block-6">
          <div class="icon"><span class="ion-ios-checkmark"></span></div>
          <div class="media-body">
            <h3 class="heading">Fast &amp; Free Wifi</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts.</p>
          </div>
	      </div>

	      <div class="media block-6">
          <div class="icon"><span class="ion-ios-checkmark"></span></div>
          <div class="media-body">
            <h3 class="heading">Travel Accomodation</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts.</p>
          </div>
	      </div>


  		</div>
  	</div>

    <div class="row site-section">
      <div class="col-lg-7 mb-5">
        <img src="{% static 'mehmonxona/IMG_5804.JPG' %}" alt="Image placeholder" class="img-fluid img-shadow">

      </div>
      <div class="col-lg-5 pl-md-5">

        <div class="media block-6">
          <div class="icon"><span class="ion-ios-checkmark"></span></div>
          <div class="media-body">
            <h3 class="heading">Luxury Rooms</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts.</p>
          </div>
        </div>

        <div class="media block-6">
          <div class="icon"><span class="ion-ios-checkmark"></span></div>
          <div class="media-body">
            <h3 class="heading">Fast &amp; Free Wifi</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts.</p>
          </div>
        </div>

        <div class="media block-6">
          <div class="icon"><span class="ion-ios-checkmark"></span></div>
          <div class="media-body">
            <h3 class="heading">Travel Accomodation</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts.</p>
          </div>
        </div>


      </div>
    </div>

    <div class="row site-section pt-0">
  		<div class="col-lg-7 mb-5 order-lg-2">
  			<img src="{% static 'mehmonxona/IMG_5812.JPG' %}" alt="Image placeholder" class="img-fluid img-shadow">
  		</div>
  		<div class="col-lg-5 pr-md-5 order-lg-1">

  			<div class="media block-6">
          <div class="icon"><span class="ion-ios-checkmark"></span></div>
          <div class="media-body">
            <h3 class="heading">Luxury Rooms</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts.</p>
          </div>
	      </div>

	      <div class="media block-6">
          <div class="icon"><span class="ion-ios-checkmark"></span></div>
          <div class="media-body">
            <h3 class="heading">Fast &amp; Free Wifi</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts.</p>
          </div>
	      </div>

	      <div class="media block-6">
          <div class="icon"><span class="ion-ios-checkmark"></span></div>
          <div class="media-body">
            <h3 class="heading">Travel Accomodation</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts.</p>
          </div>
	      </div>


  		</div>
  	</div>


    <div class="row site-section">
      <div class="col-lg-7 mb-5">
        <img src="{% static 'mehmonxona/IMG_5816.JPG' %}" alt="Image placeholder" class="img-fluid img-shadow">

      </div>
      <div class="col-lg-5 pl-md-5">

        <div class="media block-6">
          <div class="icon"><span class="ion-ios-checkmark"></span></div>
          <div class="media-body">
            <h3 class="heading">Luxury Rooms</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts.</p>
          </div>
        </div>

        <div class="media block-6">
          <div class="icon"><span class="ion-ios-checkmark"></span></div>
          <div class="media-body">
            <h3 class="heading">Fast &amp; Free Wifi</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts.</p>
          </div>
        </div>

        <div class="media block-6">
          <div class="icon"><span class="ion-ios-checkmark"></span></div>
          <div class="media-body">
            <h3 class="heading">Travel Accomodation</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts.</p>
          </div>
        </div>


      </div>
    </div>


    <div class="row site-section pt-0">
  		<div class="col-lg-7 mb-5 order-lg-2">
  			<img src="{% static 'mehmonxona/IMG_5812.JPG' %}" alt="Image placeholder" class="img-fluid img-shadow">
  		</div>
  		<div class="col-lg-5 pr-md-5 order-lg-1">

  			<div class="media block-6">
          <div class="icon"><span class="ion-ios-checkmark"></span></div>
          <div class="media-body">
            <h3 class="heading">Luxury Rooms</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts.</p>
          </div>
	      </div>

	      <div class="media block-6">
          <div class="icon"><span class="ion-ios-checkmark"></span></div>
          <div class="media-body">
            <h3 class="heading">Fast &amp; Free Wifi</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts.</p>
          </div>
	      </div>

	      <div class="media block-6">
          <div class="icon"><span class="ion-ios-checkmark"></span></div>
          <div class="media-body">
            <h3 class="heading">Travel Accomodation</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts.</p>
          </div>
	      </div>


  		</div>
  	</div>


    </div>














<!-- -->
    <div class="bg-light site-section">
    	<div class="container">

    		<div class="row mb-5">
            <div class="col-md-7 section-heading">
              <span class="subheading-sm">More</span>
              <h2 class="heading">Hotel Services</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, iusto, omnis! Quidem, sint, impedit? Dicta eaque delectus tempora hic, corporis velit doloremque quod quam laborum, nobis iusto autem culpa quaerat!</p>
            </div>
          </div>

    		<div class="row ">
      <div class="col-md-6 col-lg-4">
        <div class="media block-6">
          <div class="icon"><span class="flaticon-double-bed"></span></div>
          <div class="media-body">
            <h3 class="heading">Luxury Rooms</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="media block-6">
          <div class="icon"><span class="flaticon-wifi"></span></div>
          <div class="media-body">
            <h3 class="heading">Fast &amp; Free Wifi</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="media block-6">
          <div class="icon"><span class="flaticon-customer-service"></span></div>
          <div class="media-body">
            <h3 class="heading">Call Us 24/7</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>


      <div class="col-md-6 col-lg-4">
        <div class="media block-6">
          <div class="icon"><span class="flaticon-taxi"></span></div>
          <div class="media-body">
            <h3 class="heading">Travel Accomodation</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="media block-6">
          <div class="icon"><span class="flaticon-credit-card"></span></div>
          <div class="media-body">
            <h3 class="heading">Accepts Credit Card</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="media block-6">
          <div class="icon"><span class="flaticon-dinner"></span></div>
          <div class="media-body">
            <h3 class="heading">Restaurant</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>
    </div>




    	</div>
    </div>


    <div class="site-section">
    	<div class="container">
	    	<div class="row">
          <div class="col-md-6 col-lg-4 mb-5">
	    			<img src="{% static 'mehmonxona/IMG_6012.JPG' %}" alt="Image placeholder" class="img-fluid img-shadow">
	    			<h4>Pointing has no control about</h4>
	    			<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
	    		</div>
          <div class="col-md-6 col-lg-4 mb-5">
	    			<img src="{% static 'mehmonxona/IMG_0800.JPG' %}" alt="Image placeholder" class="img-fluid img-shadow">
	    			<h4>Pointing has no control about</h4>
	    			<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
	    		</div>
          <div class="col-md-6 col-lg-4 mb-5">
	    			<img src="{% static 'mehmonxona/IMG_5990.JPG' %}" alt="Image placeholder" class="img-fluid img-shadow">
	    			<h4>Pointing has no control about</h4>
	    			<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
	    		</div>
          <div class="col-md-6 col-lg-4 mb-5">
	    			<img src="{% static 'mehmonxona/IMG_6095.JPG' %}" alt="Image placeholder" class="img-fluid img-shadow">
	    			<h4>Pointing has no control about</h4>
	    			<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
	    		</div>
          <div class="col-md-6 col-lg-4 mb-5">
	    			<img src="{% static 'mehmonxona/IMG_5956.JPG' %}" alt="Image placeholder" class="img-fluid img-shadow">
	    			<h4>Pointing has no control about</h4>
	    			<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
	    		</div>
          <div class="col-md-6 col-lg-4 mb-5">
	    			<img src="{% static 'mehmonxona/IMG_6073.JPG' %}" alt="Image placeholder" class="img-fluid img-shadow">
	    			<h4>Pointing has no control about</h4>
	    			<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
	    		</div>
	    		<div class="col-md-6 col-lg-4 mb-5">
	    				<img src="{% static 'mehmonxona/IMG_6105.JPG' %}" alt="Image placeholder" class="img-fluid img-shadow">
	    			<h4>Even the all-powerful Pointing</h4>
	    			<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
	    		</div>
	    		<div class="col-md-6 col-lg-4 mb-5">
	    			<img src="{% static 'mehmonxona/IMG_6111.JPG' %}" alt="Image placeholder" class="img-fluid img-shadow">
	    			<h4>Blind texts it is an almost</h4>
	    			<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
	    		</div>
	    		<div class="col-md-6 col-lg-4 mb-5">
	    			<img src="{% static 'mehmonxona/IMG_6117.JPG' %}" alt="Image placeholder" class="img-fluid img-shadow">
	    			<h4>Pointing has no control about</h4>
	    			<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
	    		</div>

	    	</div>`
    	</div>
    </div>









  {% endblock body %}
