{% extends 'base.html' %}
{% load static %}
{% block body %}






<div class="block-30" style="background-image: url('{% static "mehmonxona/IMG_0724.JPG"%}');" data-stellar-background-ratio="1"</div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-10">
        <span class="subheading-sm">Hасчет нас</span>
        <h2 class="heading">ARS PLACE</h2>
      </div>
    </div>
  </div>
</div>




  <div class="site-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12">
        
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mb-3">
          <h2>Enjoy a Luxury Experience</h2>
        </div>
        <div class="col-md-6">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, necessitatibus officiis facere nisi et, ut adipisci a quis quisquam vitae doloremque tempora repellat quae accusantium atque eum voluptatibus aperiam cumque.</p>
          <p>Quia ratione, eum harum ab similique mollitia, nisi itaque vel voluptas ipsam dolore perferendis. Deleniti voluptatum error possimus ipsum, sed, obcaecati. Sit unde quia eum repudiandae molestiae reprehenderit harum nesciunt.</p>
          <p>Pariatur non consectetur libero, veniam inventore officia neque ipsum vel vitae repudiandae doloribus odit nihil dicta sit, magnam eos, in asperiores consequuntur eaque atque nam error. Dignissimos porro veniam voluptate.</p>
        </div>
        <div class="col-md-6">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, necessitatibus officiis facere nisi et, ut adipisci a quis quisquam vitae doloremque tempora repellat quae accusantium atque eum voluptatibus aperiam cumque.</p>
          <p>Quia ratione, eum harum ab similique mollitia, nisi itaque vel voluptas ipsam dolore perferendis. Deleniti voluptatum error possimus ipsum, sed, obcaecati. Sit unde quia eum repudiandae molestiae reprehenderit harum nesciunt.</p>
        </div>

      </div>
    </div>
  </div>



  <div class="block-31 mb-5" style="position: relative;">
        <div class="owl-carousel loop-block-31">
          <div class="block-30 no-overlay item" style="background-image: url('{% static "mehmonxona/IMG_0676.JPG"%}');" data-stellar-background-ratio="1"> </div>
            <div class="block-30 no-overlay item" style="background-image: url('{% static "mehmonxona/IMG_0778.JPG"%}');" data-stellar-background-ratio="1"> </div>
              <div class="block-30 no-overlay item" style="background-image: url('{% static "mehmonxona/IMG_0845.JPG"%}');" data-stellar-background-ratio="1"> </div>
                <div class="block-30 no-overlay item" style="background-image: url('{% static "mehmonxona/IMG_4946.JPG"%}');" data-stellar-background-ratio="1"> </div>
                  <div class="block-30 no-overlay item" style="background-image: url('{% static "mehmonxona/IMG_0800.JPG"%}');" data-stellar-background-ratio="1"> </div>
        </div>
      </div>

  <div class="site-section">
    <div class="container">
      <div class="row">

      <div class="col-md-6 col-lg-4">
        <div class="media block-6">
          <div class="icon"><span class="flaticon-double-bed"></span></div>
          <div class="media-body">
            <h3 class="heading">Luxury Rooms</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="media block-6">
          <div class="icon"><span class="flaticon-wifi"></span></div>
          <div class="media-body">
            <h3 class="heading">Fast &amp; Free Wifi</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="media block-6">
          <div class="icon"><span class="flaticon-customer-service"></span></div>
          <div class="media-body">
            <h3 class="heading">Call Us 24/7</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="media block-6">
          <div class="icon"><span class="flaticon-taxi"></span></div>
          <div class="media-body">
            <h3 class="heading">Travel Accomodation</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="media block-6">
          <div class="icon"><span class="flaticon-credit-card"></span></div>
          <div class="media-body">
            <h3 class="heading">Accepts Credit Card</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="media block-6">
          <div class="icon"><span class="flaticon-dinner"></span></div>
          <div class="media-body">
            <h3 class="heading">Restaurant</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>

    </div>
    </div>
  </div>





  {% endblock body %}
